.Course_detail {	font-size: 11px;
	color: #333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: justify;
}
.Course_instructor {	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #333;
}
.Course_title {	font-size: 14px;
	font-weight: bold;
	color: #333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.Rating_item {
	color: #333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
}
.rating_bar {
	width: 125px;
	background-image: url(/media/star_x_gray.png);
	background-repeat: repeat-x;
	background-position: 0 0;
}

.rating_bar div {
	height: 25px;
	background-image: url(/media/star_x_gold.png);
	background-repeat: repeat-x;
	background-position: 0 0;
}
.Title {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	color: #515151;
}