.Course_detail {	font-size: 11px;
	color: #333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: justify;
}
.Course_instructor {	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #333;
}
.Course_title {	font-size: 14px;
	font-weight: bold;
	color: #333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;
}
.Rating_item {
	color: #333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
}
.search_result_item {
	color: #333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-decoration:none;
}
.search_result_tag {
	color: #333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration:none;
}
.rating_bar {
	width: 125px;
	background-image: url(/media/star_x_gray.png);
	background-repeat: repeat-x;
	background-position: 0 0;
	float:left;
}

.rating_bar div {
	height: 25px;
	background-image: url(/media/star_x_red.png);
	background-repeat: repeat-x;
	background-position: 0 0;
	float:left;
}
.rating_bar_small {
	width: 75px;
	background-image: url(/media/star_x_gray_small.png);
	background-repeat: repeat-x;
	background-position: 0 0;
	float:left;
}

.rating_bar_small div {
	height: 15px;
	background-image: url(/media/star_x_red_small.png);
	background-repeat: repeat-x;
	background-position: 0 0;
	float:left;
}
.Title {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	font-weight: bold;
	color: #515151;
}
.Title_small {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	color: #515151;
}
.Search_name {
	font-size: 14px; 
	font-weight: normal; 
	color: #333; 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-weight: bold;}

.course_box {
	font-size: 10pt;
	border-top: 0px solid #3B5998;
	border-right: 0px solid #3B5998;
	border-left: 0px solid #3B5998;
	border-bottom: 0px solid #3B5998;
	padding-top: 6px;
	padding-right: 6px;
	padding-left: 6px;
	padding-bottom: 6px;
	color: #515151;
	text-decoration:none;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
.course_box:hover {
	font-size: 10pt;
	border-top: 1px solid #3B5998;
	border-right: 1px solid #3B5998;
	border-left: 1px solid #3B5998;
	border-bottom: 1px solid #3B5998;
	padding-top: 6px;
	padding-right: 6px;
	padding-left: 6px;
	padding-bottom: 6px;
	color: #515151;
	text-decoration:none;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

.search {
	width:60px;
	height:25px;
	border: none;
	background-image:url(/media/search_button.png);
	background-position:center;
	background-repeat: no-repeat;
	text-decoration: none;
	cursor: pointer;
}

.search:hover {
	width:60px;
	height:25px;
	border: none;
	background-image:url(/media/search_button_link.png);
	background-position:center;
	background-repeat: no-repeat;
	text-decoration: none;
	cursor: pointer;
}

.searchback {
	background-image: url(/media/searchback.png);
	text-decoration: none;
	background-position:center;
	background-repeat: no-repeat;
	height:25px;
	width:78px;
	border: none;
}

.searchback:hover {
	background-image: url(/media/searchback_link.png);
	text-decoration: none;
	background-position:center;
	background-repeat: no-repeat;
	height:25px;
	width:78px;
	border: none;
}
.next_button {
	background-image: url(/media/Next.png);
	text-decoration: none;
	background-position:center;
	background-repeat: no-repeat;
	height:25px;
	width:78px;
	border: none;
}

.next_button:hover {
	background-image: url(/media/Next_link.png);
	text-decoration: none;
	background-position:center;
	background-repeat: no-repeat;
	height:25px;
	width:78px;
	border: none;
}
.previous_button {
	background-image: url(/media/Previous.png);
	text-decoration: none;
	background-position:center;
	background-repeat: no-repeat;
	height:25px;
	width:78px;
	border: none;
}

.previous_button:hover {
	background-image: url(/media/Previous_link.png);
	text-decoration: none;
	background-position:center;
	background-repeat: no-repeat;
	height:25px;
	width:78px;
	border: none;
}
.submit {
	width:60px;
	height:25px;
	border: none;
	background-image:url(/media/submit_button.png);
	background-position:center;
	background-repeat: no-repeat;
	text-decoration: none;
	cursor: pointer;
}
.submit:hover {
	width:60px;
	height:25px;
	border: none;
	background-image:url(/media/submit_button_link.png);
	background-position:center;
	background-repeat: no-repeat;
	text-decoration: none;
	cursor: pointer;
}


