<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml" >
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Course finder @Caltech</title>
	<link rel="stylesheet" type="text/css" href="/media/display_course.css" />	

	<!---<script src="/media/prototype.js" type="text/javascript"></script>-->

	<script type="text/javascript" src="/media/swfobject.js"></script>
	<script type="text/javascript">
   	 	swfobject.embedSWF(
    		  "/media/open-flash-chart.swf", "course_map",
    		  "350", "350", "9.0.0", "/media/expressInstall.swf",
		  {"data-file":"/data/{{current_user.key_name|escape}}" });
	  </script>
	<script src="/media/jquery-1.2.6.min.js" type="text/javascript"></script>


	<script type="text/javascript">
	    //no conflict jquery
	    jQuery.noConflict();
	    //jquery stuff
	     jQuery(document).ready(function($) {
	      // 1.
		
	      //2.
	      $(function(){
		      // 取得要加上提示的元素並一一設定
		      $(":text, textarea").each(function(i, ele){
			      // 先把目前元素轉換成 jQuery 物件後記錄起來
			      // 再取得 title 及 className 屬性值
			      var _text = $(ele),
				      _title = _text.attr("title"),
				      _class = _text.attr("className") || "";

			      // 如果有 title 或是 className 值的話，則進行改造
			      if(!!_title || !!_class){
				      // 在 body 中插入一個空白的 Div 區塊來當提示區塊
				      var _water = $("<div></div>").appendTo("body");
				      // 設定提示區塊的 css 屬性(基本是讓它跟輸入框一樣)
				      // position 一定要設成 absolute 才能移來移去
				      _water.css({
					      position: "absolute",
					      width: _text.width(),
					      height: _text.height(),
					      fontSize: _text.css("fontSize"),
					      lineHeight: _text.css("lineHeight"),
					      top: _text.position().top + parseInt(_text.css("borderTopWidth"), 10) + "px",
					      left: _text.position().left + parseInt(_text.css("borderLeftWidth"), 10) + "px",
					      paddingTop: _text.css("paddingTop"),
					      paddingBottom: _text.css("paddingBottom"),
					      paddingLeft: _text.css("paddingLeft"),
					      paddingRight: _text.css("paddingRight"),
					      marginTop: _text.css("marginTop"),
					      marginBottom: _text.css("marginBottom"),
					      marginLeft: _text.css("marginLeft"),
					      marginRight: _text.css("marginRight"),
					      cursor: "text",
					      overflow: "hidden",
					      color: "gray",
				      // 把提示區塊的內容設成輸入框的 title 值
				      }).html(_title).click(function(){
					      // 當提示區塊被點擊時，觸發輸入框的 focus 事件
					      _text.trigger("focus");
				      // 最後加上額外的 className
				      }).addClass(_class);
				      
				      // 設定輸入框的 focus 及 blur 事件
				      _text.focus(function(){
					      // 隱藏提示區塊
					      _water.hide();
				      }).blur(function(){
					      // 如果輸入框中沒有值則再顯示提示區塊
					      if(this.value=="") _water.show();
				      });
			      }
		      });
	      });
	      //3.
		$(document).ready(function(){
		    
		//Setup variables
		var element = $('#recommend_list a'); // all the list elements
		var offset = 0;             // angle offset for animation
		var stepping = 0;        // how fast the list rotates
		var list = $('#recommend_list');      // the list wrapper
		var $list = $(list);

		/* Handles mouse movement, the closer to the center
		the faster the list will rotate */
		$list.mousemove(function(e){
		    
		    var topOfList = $list.eq(0).offset().top
		    var listHeight = $list.height()
		    
		    // Sets variable that controls the speed of rotation.
		    stepping = ((e.clientY - topOfList) /  listHeight * 0.2 - 0.1)*0.15;
		    
		});


		/* Disperse elements evenly around the circle */
		for (var i = element.length - 1; i >= 0; i--)
		{
		    element[i].elemAngle = i * Math.PI * 2 / element.length;
		}

		// call render function over and over
		setInterval(render, 20);


		// Handles how and where each element will be rendered.
		function render(){
		    
		    //Steps through each element...
		    for (var i = element.length - 1; i >= 0; i--){
			
			// offset adds degrees to where the element 
			// is currently on the circle
			var angle = element[i].elemAngle + offset;
			
			// Trig to figure out the size and where the
			// text should go
			x = 120 + Math.sin(angle) * 30;
			y = 45 + Math.cos(angle) * 40;
			size = Math.round(30 - Math.sin(angle) * 30);
			size_font = Math.round(size /5)
			// Centers the text, instead of being left aligned.
			var elementCenter = $(element[i]).width() / 2;
			
			// Figure out the x value of the element.
			var leftValue = (($list.width()/2) * x / 100 - elementCenter - 20) + "px"
			
			
			// Apply the values to the text
			$(element[i]).css("fontSize", size_font + "pt");
			$(element[i]).css("opacity",size);
			$(element[i]).css("zIndex" ,size);
			$(element[i]).css("left" ,leftValue);
			$(element[i]).css("top", y + "%");
		    }
		    
		    // Rotate the circle
		    offset += stepping;
		}
		    
		    
		});
});


	  </script>
	<script src="/media/mootools-core-1.3.2.js"></script>
	<script src="/media/moostarrating.js"></script>
	<script src="/media/rating_star.js"></script>






<style type="text/css" media="screen">
    #recommend_list{
        margin:0 auto;
        height:175px;
        width:650px;
        overflow:hidden;
        position:relative;
        background-color: #ffffff;
    }
    #recommend_list ul,
    #recommend_list li{
        list-style:none;
        margin:0;
        padding:0;
    }
    #recommend_list a{
        position:absolute;
        text-decoration: none;
	color:#302C29;
	font-family:Verdana, Arial, Helvetica, sans-serif;
    }
    #recommend_list a:hover {
	color:#6C8C84;
	font-family:Verdana, Arial, Helvetica, sans-serif;
    }
</style>



	<script type="text/javascript">
	function framesetsize(w,h){
	var obj =   new Object;
	obj.width=w;
	obj.height=h;
	FB.Canvas.setSize(obj);
	}
	</script>
	


	<script type="text/javascript">
	OFC={};
		OFC.jquery={
			name:"jQuery",
     			version: function(src){return jQuery('#'+src)[0].get_version()},
			rasterize:function(src,dst){ jQuery('#'+ dst).replaceWith(OFC.jquery.image(src)) },
			image: function(src) { return "<img src='data:image/png;base64," + jQuery('#'+src)[0].get_img_binary() + "' />"},
			popup: function(src) {
				        var img_win = window.open('', 'Charts: Export as Image')
						        with(img_win.document) {
								            write('<html><head><title>Charts: Export as Image<\/title><\/head><body>' + OFC.jquery.image(src) + '<\/body><\/html>') }
							// stop the 'loading...' message
							img_win.document.close();
						    	 }
		}	

		if (typeof(Control == "undefined")) {var Control = {OFC: OFC.jquery}}
		function save_image() { OFC.jquery.popup('course_map') }
	</script>

  </head>
  <body >
	  {% load my_filters %}
<div >
  <table width="700" border="0"  cellpadding="0">
  <tr>
    <td width="100" colspan="2">
    <table width="700" border="0" cellpadding="0">
      <tr>
        <td><img src="/media/Caltech_namecopy.png" alt="Caltech_name" width="350" height="100" /></td>
        <td><img src="/media/Caltech_logo.png" alt="Caltech_logo" width="100" height="100" /></td>
      </tr>
    </table></td>
  </tr>
  <tr>
	  <td height="40" colspan="2">
		<div id="fb-root"></div> <div align="right"><fb:login-button autologoutlink="true"></fb:login-button>
		</div>
	</td>
  </tr>
  <tr>
    <td colspan="2"><span class="Title">Top 5 recommended </span></td>
  </tr>
  <tr>
   <td height="1" bgcolor="#808080"></td>
</tr>
  <tr>
    <td height="10"  colspan="2"><table width="500" border="0" cellpadding="2">
      <tr>
        <td>
  <div id="recommend_list">
	<ul> {% for course in Recommend %}
	  <li><a href="/course/{{course.id}}">{{course.name|removefirstword|escape}}</a></li>
	  {% endfor %} </ul>
</div>
</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
    </table>    </td>
  </tr>
  <tr>
    <td height="40" colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td height="10" colspan="2" ><span class="Title">Search for Courses </span>  </td>
  <tr>
   <td height="1" bgcolor="#808080"></td>
</tr>
  </tr>
  <tr>
    <td colspan="2"><table width="484" border="0" cellpadding="2">
      <tr>
        <td width="102" height="30" class="Search_name">Course:</td>
        <td width="99" height="30">
		<form action="." method="post">
		<select name="course_dept" id="course_dept" style="width:80px">
			<option value="" selected="selected"></option>
			<option value="ACM">ACM</option>
			<option value="Ae">Ae</option>
			<option value="AM">AM</option>
			<option value="An">An</option>
			<option value="APh">APh</option>
			<option value="Art">Art</option>
			<option value="Ay">Ay</option>
			<option value="BE">BE</option>
			<option value="BEM">BEM</option>
			<option value="Bi">Bi</option>
			<option value="BMB">BMB</option>
			<option value="CDS">CDS</option>
			<option value="CE">CE</option>
			<option value="Ch">Ch</option>
			<option value="ChE">ChE</option>
			<option value="CNS">CNS</option>
			<option value="CS">CS</option>
			<option value="E">E</option>
			<option value="Ec">Ec</option>
			<option value="EE">EE</option>
			<option value="En">En</option>
			<option value="ESE">ESE</option>
			<option value="ESL">ESL</option>
			<option value="EST">EST</option>
			<option value="F">F</option>
			<option value="Ge">Ge</option>
			<option value="H">H</option>
			<option value="HPS">HPS</option>
			<option value="Hum">Hum</option>
			<option value="IST">IST</option>
			<option value="L">L</option>
			<option value="Law">Law</option>
			<option value="Ma">Ma</option>
			<option value="ME">ME</option>
			<option value="MS">MS</option>
			<option value="Mu">Mu</option>
			<option value="PA">PA</option>
			<option value="PE">PE</option>
			<option value="Ph">Ph</option>
			<option value="Pl">Pl</option>
			<option value="PS">PS</option>
			<option value="Psy">Psy</option>
			<option value="SS">SS</option>
			<option value="UCL">UCL</option>
		</select></td>
        <td width="263">
		<input type="text" size="4" id="course_numb" name="course_numb" ></td>
      </tr>
      <tr>
        <td width="102" height="30" class="Search_name">Professor:</td>
        <td height="30" colspan="2" align="left">
		<input type="text"  title=" Last name" size="20" id="course_prof" name="course_prof" ></td>
      </tr>
      <tr>
        <td height="30" class="Search_name">Keywords:</td>
        <td height="30" colspan="2" align="left"><input type="text" size="20" id="course_name" name="course_name" />		</td>
      </tr>
      <tr>
        <td width="102" height="30" class="Search_name">&nbsp;</td>
        <td height="30" colspan="2"><div>
          <button name="Submit" type="submit"  id="Submit" class="search"   />
		  </form>
          
			</div>        </td>
      </tr>
      <tr><td colspan="2">&nbsp;</td></tr>
    </table>    </td>
  </tr>
  <tr>
    <td height="19" colspan="2">{% if Search_results %}
	<span class="Title">Search results</span></td>
  </tr>
  <tr>
    <td height="1" bgcolor="#808080"></td>
  </tr>
  <tr>
    <td height="19" colspan="2">
	

	    {% for course in Search_results %}
    <table width="500" border="0" cellpadding="0" onMouseOver="this.style.background='#d8dfea'" onMouseOut="this.style.background='#ffffff'">
	 <tr>
		 <td width="10">&nbsp;</td>
		<td width="90">
			 <a class="search_result_item" style="vertical-align:text-top"  href="/course/{{course.id}}">
				 {% for dept in course.department|join:"/"  %}{{dept|escape}}{% endfor %}</a>
				 
			 </td>
			 <td colspan="2">
				 <a class="search_result_item" href="/course/{{course.id}}">
				 {{course.name|escape}}
				 </a></td>
	 </tr>
	  <tr>
	 <td width="10" height="25">&nbsp;</td>
	 <td width="90" height="25"><div class="rating_bar_small"> 
		 <div style="width:{{Search_results_value|lookup:course}}%"></div>
		</div>
	 </td>
	 <td height="25" class="search_result_tag"><div style="float:left">My rating:&nbsp;</div>
	<div float><script type="text/javascript" language="javascript">
	 moonStarStars_small("Overall_Rating", {{ User_Overall_Rating|lookup:course }},{{course.id}});
	</script>
	 </div>
 </td>
 <td height="25">&nbsp;</td>
	 </tr>
	 </table>
	&nbsp;
	{% endfor %}

	{% endif %}	</td>
  </tr>
  <tr>
    <td height="19" colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2" class="Title">My Course-Map </td>
  </tr>
  <tr>
   <td height="1" bgcolor="#808080"></td>
</tr>
  <tr>
    <td colspan="0"><table width="300" border="0" cellpadding="0">
      <tr>
        <td width="200" height="200" >
		<div class="chart" id="course_map"></div>
		</td>
        <td></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td colspan="2">		 </td>
  </tr>
  <tr>
    <td colspan="2">
	    <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like href="" send="false" width="450" show_faces="true" font="verdana"></fb:like>
</td>
  </tr>
</table>



  </div>
 		<div id="fb-root"></div>
		<script>
			window.fbAsyncInit = function() {
				FB.init({appId: '{{ facebook_app_id }}', status: true, cookie: true,
					xfbml: true});
				FB.Event.subscribe('{% if current_user %}auth.logout{% else %}auth.login{% endif %}', function(response) {
					window.location.reload();
				});
			};
			(function() {
				var e = document.createElement('script');
				e.type = 'text/javascript';
				e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
				e.async = true;
				document.getElementById('fb-root').appendChild(e);
			}());
		</script>  
    
	
	
  </body>
</html>
