<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>
			Course finder - {% for department in course.department %} {{department}} {% endfor %} {{ course.name }}
		</title>
		<link rel="stylesheet" type="text/css" href="/media/display_course.css" />
		<script src="/media/mootools-core-1.3.2-full-compat.js"></script>
		<script src="/media/moostarrating.js"></script>  
		<script src="/media/rating_star.js"></script>
	</head>
	<body onload="MM_preloadImages('/media/searchback_link.png')">
		<table width="700" border="0" cellpadding="0">
			<tr>
			<td>
			<table width="700" border="0" cellpadding="0">
						<tr>
							<td>
								<a href="/"><img src="/media/Caltech_namecopy.png" alt="Caltech_name" width="350" height="100" border="0" /></a> </td>
							<td>
								<img src="/media/Caltech_logo.png" alt="Caltech_logo" width="100" height="100" />							</td>
						</tr>
					</table>				</td>
			</tr>
			<tr>
			  <td height="40">
			  
			  
			  
			  
			  
			  <table width="255" height="30" border="0" cellpadding="0">
                <tr>
                  <td width="85" align="left" valign="bottom"><button class="searchback" onclick="location.href='/'"/></td>
                  <td width="85" align="left" valign="bottom">{% if Previous_course %}
			  <button class="previous_button" onclick="location.href='/course/{{Previous_course.id}}'"/>
			  {% endif %}</td>
                  <td width="85" align="left" valign="bottom">{% if Next_course %}
			  <button class="next_button" onclick="location.href='/course/{{Next_course.id}}'"/>
			  {% endif %}</td>
                </tr>
              </table></td>
		  </tr>
			<tr>
				<td height="40">
				<table width="600" border="0" cellpadding="0" style="border:1px #3B5998  solid">
                  <tr>
                    <td width="95" rowspan="2">
					<table width="95" border="0" cellpadding="0">
                      <tr>
                        <td height="85"  ><span ><img src="/media/dept/{{course.department|first}}.png" alt="course_tmp" width="85" height="85" align="absmiddle" style="border:1px gray  solid"/></span></td>
                      </tr>
                    </table></td>
                    <td width="10" rowspan="3">&nbsp;</td>
		    <td colspan="2" valign="top" >
			    <a href={{course.url|escape}} target="_blank" class="Course_title"> <span class="Course_title"> {% for department in course.department %}{{department}} {% endfor %} </span><span class="Course_title">{{ course.name }}</span>		    </a> </td>
                  </tr>
                  <tr>
                    <td colspan="2" valign="top"><span class="Course_detail">{{course.description}}</span></td>
                  </tr>
                  <tr>
			  <td width="95" align="center"> {% if Overall_Rating %} 
				  <div  class="rating_bar_small">
					  <div style="width:{{Overall_Rating}}%">
					  </div>
				  </div> {% endif %}
	  </td>
                    <td width="80" ><span class="Course_instructor">Instructors:</span></td>
		    <td width="280" ><span class="Course_instructor">{% for teacher in teachers %}{{ teacher.title }} {{ teacher.full_name|escape }}&nbsp;{% endfor %}  </span></td>
				                  </tr>
                </table>
				</td>
			</tr>
			<tr>
				<td height="10">&nbsp;
					
				</td>
			</tr>
			<tr>
				<td>
					<table width="600" border="0" cellpadding="0" class="Rating_item">
						<tr>
							<td width="150">
							</td>
							<td width="150">
								Algorithmic Estimate
							</td>
							<td width="10">
							</td>
							<td width="150">
								My Rating
							</td>
						</tr>
						<tr>
							<td width="150" height="25">
								Overall:
							</td>
							<td width="150">
								{% if Overall_Rating %}
								<div class="rating_bar" ><div style="width:{{Overall_Rating}}%">	</div>	</div>	
								<div >	({{Overall_Rating_value|floatformat:1}})</div>	
								{% else %}
									Not Yet Avaliable
								{% endif %}	
							</td>
							<td width="10">&nbsp;
								
							</td>
							<td width="150" height="25" valign="middle">
								<div>
									<script type="text/javascript" language="javascript">
										moonStarStars("Overall_Rating", {{ User_Overall_Rating }},{{course.id}});
									</script>
								</div>
							</td>
						</tr>
						{% for teacher in teachers %}
							<tr>
								<td class="Rating_item">
									Instructor: {{teacher.title}} {{teacher.full_name}}
								</td>
								<td>
									{% if teacher.rating %}
										<div class="rating_bar">
											<div style="width:{{teacher.rating}}%">											
											</div>
										</div>	
									{% else %}
										Not Yet Avaliable
									{% endif %}							  
								</td>
								<td>
								<td height="25">
									<script type="text/javascript" language="javascript">
										moonStarStars("Teacher_{{teacher.id}}_Rating", {{teacher.user_rating}},{{course.id}});
									</script>
								</td>
							</tr>
						{% endfor %}
						<tr>
							<td class="Rating_item">
								Grading:							
							</td>
							<td >		
								{% if Grading_Rating %}
									<div class="rating_bar">
										<div style="width:{{Grading_Rating}}%"></div></div>
										<div> ({{Grading_Rating_value|floatformat:1}})</div>										
									
											
								{% else %}
									Not Yet Avaliable
								{% endif %}						  
							</td>
							<td>&nbsp;
															
							</td>
							<td height="25">
								<script type="text/javascript" language="javascript">
									moonStarStars("Grading_Rating", {{User_Grading_Rating}},{{course.id}});
								</script>					  
							</td>
						</tr>
				  </table>				
				</td>
			</tr>
			<tr>
				<td height="15">
					<p  class="Rating_item">
						Number of hours spent/ week on this class (at least):						
					</p>
					<script type="text/javascript">
						moonStars("Hours", {{Hours}}, "time_bar_gray.png", "time_bar_blue.png",25, [1,'','','',5,'','','','',10,'','','','',15,'','','','',20],{{course.id}});
						</script>
					<p  class="Rating_item">
						Grade in this class (at least):						
					</p>
					<script type="text/javascript">
						moonStars("Grade", {{Grade}}, "25px-grey-check.png", "25px-green-check.png",25, ["F", "D", "C", "B", "A"],{{course.id}});
					</script>
				</td>
		  </tr>
			<tr><td height="15">&nbsp;</td></tr>
			<tr>
				<td>
					<div style="width: 600px; background-color: #EDEFF4;">
						<script type="text/javascript">
							mooComment("Course_Comment", "Course Comment [optional]", "{{Course_Comment}}", {{Course_Comment_Privacy}});
							{% for teacher in teachers %}
								mooComment("Teacher_{{ teacher.id }}_Comment", "Instructor Comment: {{teacher.title}} {{teacher.full_name}} [optional]", "{{teacher.course_comment}}", {{teacher.course_comment_privacy}});
							{% endfor %}
						</script>
					</div>				
				</td>
			</tr>
			<tr>
				<td height="20">&nbsp;
					
				</td>
			</tr>
<!-- At some point, we should make this happen, but I'm not up to it as of the time I'm writing this comment. 
  <tr>
    <td height="10"><span class="Title">Distribution</span></td>
  </tr>
  <tr>
   <td height="1" bgcolor="#808080"></td>
</tr>
  <tr>
    <td height="10"><table width="470" border="0" cellpadding="0">
      <tr>
        <td width="235" height="30" class="Rating_item"><div align="center">Grade</div></td>
        <td width="235" height="30" class="Rating_item"><div align="center">Time-spent</div></td>
      </tr>
      <tr>
        <td><div align="center"></div></td>
        <td><div align="center"></div></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="40">&nbsp;</td>
  </tr>
  -->
			<tr>
				<td height="10" class="Title">
					Course Comments
				</td>
			</tr>
			<tr>
				<td height="1" bgcolor="#808080">
				</td>
			</tr>
			<tr>
				<td>
					<table width="700" border="0" cellpadding="0" class="Rating_item">
						<tr>
							<td width="345" height="30">
								friends comments
							</td>
							<td width="345" height="30">
								public comments
							</td>
						</tr>
						{% for comment_pair in Course_Comments %}
							<tr>
								{% for comment in comment_pair %}
									<td {% if comment %} style="border:1px #3B5998  solid" {% endif %}>
										{% if comment %}
										<table >
											<tr>
												{% if comment == comment_pair|first %}
													<td width = "50">
														<img src="http://graph.facebook.com/{{ comment.user.facebook_id }}/picture?type=square" />
													</td>
												{% endif %}
												<td>
													{{comment.content }}
												</td>
											</tr>
											<tr>
												{% if  comment == comment_pair|first %}
													<td>
														{{comment.user.full_name }}
													</td>
												{% endif %}
												<td>
													- {{comment.date }}
												</td>
											</tr>
										</table>
										{% endif %}
									</td>
								{% endfor %}
							</tr>
						{% endfor %}
					</table>
				</td>
			</tr>
			<tr>
				<td height="10">&nbsp;
					
				</td>
			</tr>
			{% for teacher in teachers %}
				<tr>
					<td height="10" class="Title">
						Instructor Comments: {{teacher.title}} {{teacher.full_name}}
					</td>
				</tr>
				<tr>
					<td height="1" bgcolor="#808080">
					</td>
				</tr>
				<tr>
					<td>
						<table width="700" border="0" cellpadding="0" class="Rating_item">
							<tr>
								<td width="345" height="30">
									friends comments
								</td>
								<td width="345" height="30">
									public comments
								</td>
							{% for comment_pair in teacher.comments %}
								</tr>
								<tr>
									{% for comment in comment_pair %}
											<td>

												{% if comment %}
												<table border="0" cellpadding="0" style="border:1px #3B5998  solid">
													<tr>
														{% if comment == comment_pair|first %}
															<td width = "50">
																<img src="http://graph.facebook.com/{{ comment.user.facebook_id }}/picture?type=square" />
															</td>
														{% endif %}
														<td>
															{{comment.content }}
														</td>
													</tr>
													<tr>
														{% if  comment == comment_pair|first %}
															<td>
																{{comment.user.full_name }}
															</td>
														{% endif %}
														<td>
															- {{comment.date }}
														</td>
													</tr>
												</table>
												{% endif %}
											</td>
									{% endfor %}
								</tr>
						{% endfor %}
					</table>
				</td>
			</tr>
			<tr>
				<td height="10">&nbsp;
					
				</td>
			</tr>
			{% endfor %}
			<tr>
				<td height="10">
					<button class="searchback" onclick="history.back(-1)"></button>
				</td>
			</tr>
			<tr>
				<td height="10">&nbsp;
					
				</td>
			</tr>
		</table>
		
		<div id="fb-root"></div>
<script>
	window.fbAsyncInit = function() {
		FB.init({appId: "174228859292999",
                           status: true,
                           cookie: true,
                           xfbml: true});
		FB.Canvas.setAutoResize();
	};
	(function() {
		var e = document.createElement('script'); e.async = true;
		e.src = document.location.protocol +
			'//connect.facebook.net/en_US/all.js';
		document.getElementById('fb-root').appendChild(e);
	}());
</script>
<script type="text/javascript">
window.fbAsyncInit = function() {
FB.Canvas.setAutoResize();
}
// Do things that will sometimes call sizeChangeCallback()
function sizeChangeCallback() {
FB.Canvas.setAutoResize();
}
</script>
	</body>
</html>
