<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml" >
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta property="og:title" content="Course finder" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://apps.facebook.com/coursefinder/" />
	<meta property="og:site_name" content="Course finder - Caltech" />
	<meta property="fb:app_id" content="174228859292999" />
	<meta property="og:image" content="/media/coursefinder_entity.png" />
    <title>Course finder @Caltech</title>
	<link rel="stylesheet" type="text/css" href="/media/display_course.css" />	

	<script type="text/javascript">
	function framesetsize(w,h){
	var obj =   new Object;
	obj.width=w;
	obj.height=h;
	FB.Canvas.setSize(obj);
	}
	</script>
	
	

  </head>
  <body >
	  {% load my_filters %}
<div >
  <table width="700" border="0"  cellpadding="0">
  <tr>
    <td width="100" colspan="2">
    <table width="700" border="0" cellpadding="0">
      <tr>
        <td><a href="/"><img src="/media/Caltech_namecopy.png" alt="Caltech_name" width="350" height="100" /></a></td>
        <td><img src="/media/Caltech_logo.png" alt="Caltech_logo" width="100" height="100" /></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
  
  <tr>
   <td ></td>
</tr>
 <tr>
   <td height="40" >&nbsp;</td>
</tr>
<tr>
   <td align="center" ><span class="Title">This program is only available for Caltech students.</span></td>
</tr>
<tr>
   <td width="60" >&nbsp;</td>
</tr>
    <td colspan="0"><table width="650" border="0" cellpadding="0">
      <tr>
        
        <td align="center"><img src="/media/caltech_intro.jpg" alt="caltech_intro"  /></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td colspan="2">		 </td>
  </tr>

</table>



  </div> 
    
	
	
  </body>
</html>
